.container {
    width: 100%;
}

.card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.newsCard {
    height: 100%;
}

.card {
    /* height: 100px; */
    width: 30%;

}