.container {
    width: 80%;
    height: 100%;
}

html, body {
    height: 100%;
}

.footer {
    height: 80px;
    bottom: 0;
    line-height: 80px;
    background-color: lightgray;
    width: 100%;
    position: sticky;
    margin: 0;
}

.footer-p {
    text-align: center;
    color: gray; 
    margin: 0;
}



.navbar {
    background-color: #7c4dff;

}
.navbar-nav {
    display: flex;
    text-align: center;
}
.nav-item {
    margin: 5px; 
    padding-right: 10px;
    padding-left: 20px;
    margin-left: 10px;
}

ul > li.active {
    border: 1px solid white;
    border-radius: 40%;     
}

a:hover p{
    color: white;
}

.navbar-container {
    margin-bottom: 2%;
    width: 100%;
}
