<div class='navbar-container'>
    <nav class="navbar navbar-light justify-content-between">
        <a class="navbar-brand" href="#"><span style="color:lightgray"><p>Stock Search</p></span></a>
        <!-- Links -->
        <ul class="navbar-nav list-group-horizontal ml-auto">
            <li class="home nav-item">
                <a class="nav-link" href="#"><span style="color:lightgray"><p>Search</p></span></a>
            </li>
            <li class="watchlist nav-item">
                <a class="nav-link" href="/watchlist"><span style="color:lightgray"><p>Watchlist</p></span></a>
            </li>
            <li class="portfolio nav-item">
                <a class="nav-link" href="/portfolio"><span style="color:lightgray"><p>Portfolio</p></span></a>
            </li>
        </ul>
    </nav>
</div>

<div [ngStyle]="{display: notFoundStocks ? 'block' : 'none'}" class="alert alert-danger"  role="alert">
    <p class="text-center">No results found. Please enter valid ticker.</p>
</div>

<div *ngIf='loading' class="container d-flex justify-content-center align-items-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="group-container">
    

    <div class="container">


        <div *ngIf='addedWatchlist' class="alert alert-success" role="alert">
            <p class="text-center">You added {{stock.ticker}} to your watchlist!</p>
        </div>
        <div *ngIf='removedWatchlist' class="alert alert-danger" role="alert">
            <p class="text-center">You removed {{stock.ticker}} from your watchlist!</p>
        </div>
        <div *ngIf='boughtSuccessfully' class="alert alert-success" role="alert">
            <p class="text-center">{{stock.ticker}} bought successfully!</p>
        </div>

        <div class="row">
            <div class="col-sm">
                <h1><b>
                {{stock.ticker}}
                <span role='button'><svg *ngIf='notStockSaved' (click)='stockSave()' width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg></span>
            <span style="color:gold" role='button'><svg *ngIf='stockSaved' (click)='stockUnsave()' width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg></span></b></h1>
            </div>
            
            <div class="col-sm text-right"><h1><b><span [ngStyle]="applyStyles()">{{stock.lastPrice}}</span></b></h1></div>
        </div>
        <div class="row">
            <div class="col-sm"><h3><span style='color:grey'><b>{{stock.companyName}}</b></span></h3></div>
            <div class="col-sm text-right">
                <span [ngStyle]="applyStyles()">
                    <h3><b>
                    <svg width="1em" *ngIf='positiveChange' height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                    <svg width="1em" *ngIf='negativeChange' height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                    {{stock.change}} ({{stock.changePercent}}%)</b></h3>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm"><span style='color:grey'>{{stock.exchangeCode}}</span></div>
            <div class="col-sm text-right"><span style='color:grey'>{{currentDateTime}}</span></div>
        </div>
        <div class="row">
            <div class="col-sm">
                <button style='width: 12%' class="btn btn-success"  *ngIf="notFoundStocks==false" (click)="modalOpen(content)">Buy</button>
            </div>
            <div class="col-sm text-right"></div>
        </div>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{stock.ticker}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div>
              <label for="quantity">Current Price: {{mostRecentPrice}} </label>
              <div class="input-group">
                <label class='inline'>Quantity <input type="number" id="quantity" name="quantity" (ngModelChange)="updateTotalPrice($event)" [(ngModel)]="quantity"></label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <h4 class="total-price mr-auto">Total Price: {{totalPrice}}</h4>
            <button type="button" class="btn btn-success" [disabled]="quantity === undefined || quantity < 0 || quantity == 0 || quantity == null" (click)="modalClose(); modal.close('Save click')">Buy</button>
        </div>
    </ng-template>

    <p *ngIf='open' style='text-align: center; ' ><span style='color: black; background-color: green; opacity: 50%;'>Market is Open</span>/p>
    <p *ngIf='closed' style='text-align: center; '><span style='color: black; background-color: red; opacity: 50%;'>Market closed on {{formattedStockDate}}</span></p>
    <div class="container">
        <mat-tab-group mat-stretch-tabs class='tab-group'>
            <mat-tab label="Summary"> <app-summarytab [stock]='stock'></app-summarytab> </mat-tab>
            <mat-tab label="Top News"> <app-news></app-news> </mat-tab>
            <mat-tab label="Charts"><ng-template matTabContent> <app-chart [stock]='stock' [historical]='true'></app-chart> </ng-template></mat-tab>
        </mat-tab-group>
    </div>
</div>
<div>
    <footer class='footer'>
            <p class='footer-p'>Powered by Tiingo. Developed by Charlie Pyle</p>
    </footer>
</div>


