<div class="container">
    <div class="row">
        <div class="col-sm">{{stock.ticker}}</div>
        <div class="col-sm text-right">{{stock.last}}</div>
    </div>
    <div class="row">
        <div class="col-sm">{{stock.companyName}}</div>
        <div class="col-sm text-right">{{stock.change}} ({{stock.change_percent}}%)</div>
    </div>
    <div class="row">
        <div class="col-sm">{{stock.exchangeCode}}</div>
        <div class="col-sm text-right">{{stock.date}}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            <button>Buy</button>
        </div>
        <div class="col-sm text-right"></div>
    </div>
</div>

