<div class="group-container">
    <div class='container'>
        <div *ngIf='notFoundStocks' class="alert alert-danger"  role="alert">
            <p class="text-center">No results found. Please enter valid ticker.</p>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm">
                {{stock.ticker}}
                <span role='button'><svg *ngIf='notStockSaved' (click)='stockSave()' width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                </svg></span>
            <span style="color:gold" role='button'><svg *ngIf='stockSaved' (click)='stockUnsave()' width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg></span>
            </div>
            
            <div class="col-sm text-right"><span [ngStyle]="applyStyles()">{{stock.lastPrice}}</span></div>
        </div>
        <div class="row">
            <div class="col-sm">{{stock.companyName}}</div>
            <div class="col-sm text-right">
                <span [ngStyle]="applyStyles()">
                    <svg width="1em" *ngIf='positiveChange' height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                    <svg width="1em" *ngIf='negativeChange' height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                    {{stock.change}} ({{stock.changePercent}}%)
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">{{stock.exchangeCode}}</div>
            <div class="col-sm text-right">{{currentDateTime}}</div>
        </div>
        <div class="row">
            <div class="col-sm">
                <button class="btn btn-success"  *ngIf="notFoundStocks==false" (click)="modalOpen(content)">Buy</button>
            </div>
            <div class="col-sm text-right"></div>
        </div>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{stock.ticker}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div>
              <label for="quantity">Current Price: {{mostRecentPrice}} </label>
              <div class="input-group">
                <label class='inline'>Quantity <input type="number" id="quantity" name="quantity" (change)="updateTotalPrice($event.target.value)"></label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <h4 class="total-price mr-auto">Total Price: {{totalPrice}}</h4>
            <button type="button" class="btn btn-success" [disabled]="quantity === undefined || quantity < 0 || quantity == 0" (click)="modalClose(); modal.close('Save click')">Buy</button>
        </div>
    </ng-template>

    <p *ngIf='open' style='text-align: center'>Market is Open</p>
    <p *ngIf='closed' style='text-align: center'>Market closed on {{formattedStockDate}}</p>
    <div class="container">
        <mat-tab-group class='tab-group'>
            <mat-tab label="Summary"> <app-summarytab [stock]='stock'></app-summarytab> </mat-tab>
            <mat-tab label="News"> <app-news></app-news> </mat-tab>
            <mat-tab label="Charts"> <app-chart [stock]='stock' [historical]='true'></app-chart> </mat-tab>
        </mat-tab-group>
    </div>
    
    
</div>



