<div class='navbar-container'>
    <nav class="navbar navbar-light justify-content-between">
        <a class="navbar-brand" href="#"><span style="color:lightgray"><p>Stock Search</p></span></a>
        <!-- Links -->
        <ul class="navbar-nav list-group-horizontal ml-auto">
            <li class="active home nav-item">
                <a class="nav-link" href="#"><span style="color:lightgray"><p>Search</p></span></a>
            </li>
            <li class="watchlist nav-item">
                <a class="nav-link" href="/watchlist"><span style="color:lightgray"><p>Watchlist</p></span></a>
            </li>
            <li class="portfolio nav-item">
                <a class="nav-link" href="/portfolio"><span style="color:lightgray"><p>Portfolio</p></span></a>
            </li>
        </ul>
    </nav>
</div>
