
<div class='test-container'>
    <nav class="navbar navbar-light justify-content-between">
        <a class="navbar-brand" href="#"><span style="color:white">Stock Search</span></a>
        <!-- Links -->
        <ul class="navbar-nav list-group-horizontal ml-auto">
            <li class="home nav-item">
                <a class="nav-link" href="#"><span style="color:white">Search</span></a>
            </li>
            <li class="watchlist nav-item">
                <a class="nav-link" href="/watchlist"><span style="color:white">Watchlist</span></a>
            </li>
            <li class="portfolio nav-item">
                <a class="nav-link" href="/portfolio"><span style="color:white">Portfolio</span></a>
            </li>
        </ul>
    </nav>
</div>
