.navbar {
    background-color: #7c4dff;

}
.navbar-nav {
    display: flex;
    text-align: center;
}
.nav-item {
    margin: 5px; 
    padding-right: 10px;
    padding-left: 20px;
    margin-left: 10px;
}

ul > li.active {
    border: 1px solid white;
    border-radius: 40%;     
}

a:hover p{
    color: white;
}

.navbar-container {
    margin-bottom: 2%;
    width: 100%;
}
