<div class='navbar-container'>
    <nav class="navbar navbar-light justify-content-between">
        <a class="navbar-brand" href="#"><span style="color:lightgray"><p>Stock Search</p></span></a>
        <!-- Links -->
        <ul class="navbar-nav list-group-horizontal ml-auto">
            <li class="active home nav-item">
                <a class="nav-link" href="#"><span style="color:lightgray"><p>Search</p></span></a>
            </li>
            <li class="watchlist nav-item">
                <a class="nav-link" href="/watchlist"><span style="color:lightgray"><p>Watchlist</p></span></a>
            </li>
            <li class="portfolio nav-item">
                <a class="nav-link" href="/portfolio"><span style="color:lightgray"><p>Portfolio</p></span></a>
            </li>
        </ul>
    </nav>
</div>


<div class="container">
    <h1 class="title"><b>STOCK SEARCH</b></h1>
    
    <form class='form-class'>
        <div class="search-inner">
            <span style='color:grey'><i (click)='onReroute()' class="icon fa fa-search"></i>
            <input type='text' class='search-bar' [formControl]='search' (ngModelChange)="textChanged()" [(ngModel)]="tempSearch" [matAutocomplete]="auto"></span>
        </div>
        <div *ngIf='loading' class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option role='button' *ngFor="let stock of stocks" [value]="stock" (click)='onSubmit(stock)'>
            {{stock.ticker}} | {{stock.companyName}}
            </mat-option>
        </mat-autocomplete>
    </form>

    
</div>
<div>
    <footer class='footer'>
            <p class='footer-p'>Powered by Tiingo. Developed by Charlie Pyle</p>
    </footer>
</div>