<div class='card-container' (click)='redirect();' role='button'>
    <div class="grey-wrapper">
        <h1><b>{{stockItem.ticker}} <span class='item-span'>{{stockItem.companyName}}</span></b></h1>
    </div>


    <div class="card">

    
    <!-- <mat-card class='stockWatchCard'> -->
        <!-- <mat-card-header class='header'>
            test header
        </mat-card-header> -->
       
        <div class="row">
            <div class="pt-2 pb-2 ml-1 mr-1 col text-left">
                <!-- <mat-card-content> -->
                    Quantity:
                <!-- </mat-card-content> -->
            </div>
            <div class="pt-2 pb-2 ml-1 mr-1 col text-right">
                <!-- <mat-card-content> -->
                    {{stockItem.quantity}}
                <!-- </mat-card-content> -->
            </div>
            <div class="pt-2 pb-2 ml-1 mr-1 col text-left">
                <!-- <mat-card-content> -->
                    Change:
                <!-- </mat-card-content> -->
            </div>
            <div class="pt-2 pb-2 ml-1 mr-1 col text-right">
                <!-- <mat-card-content> -->
                    <span [ngStyle]="applyStyles()">
                        <svg width="1em" *ngIf='positiveChange' height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                        </svg>
                        <svg width="1em" *ngIf='negativeChange' height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                        </svg>
                        {{change}}
                    </span>
                <!-- </mat-card-content> -->
            </div>
        </div>
        <div class="row">
            <div class="pt-2 pb-2 ml-1 mr-1 col text-left">
                <!-- <mat-card-content> -->
                    Avg. Cost / Share:
                <!-- </mat-card-content> -->
            </div>
            <div class="pt-2 pb-2 ml-1 mr-1 col text-right">
                <!-- <mat-card-content> -->
                    {{costPerShare}}
                <!-- </mat-card-content> -->
            </div>
            <div class="pt-2 pb-2 ml-1 mr-1 col text-left">
                <!-- <mat-card-content> -->
                    Current Price:
                <!-- </mat-card-content> -->
            </div>
            <div class="pt-2 pb-2 ml-1 mr-1 col text-right">
                <!-- <mat-card-content> -->
                    <span [ngStyle]="applyStyles()">{{stockItem.lastPrice}}</span>
                <!-- </mat-card-content> -->
            </div>
        </div>
        <div class="row">
            <div class="pt-2 pb-2 ml-1 mr-1 col text-left">
                <!-- <mat-card-content> -->
                    Total Cost:
                <!-- </mat-card-content> -->
            </div>
            <div class="pt-2 pb-2 ml-1 mr-1 col text-right">
                <!-- <mat-card-content> -->
                    {{stockItem.totalCost}}
                <!-- </mat-card-content> -->
            </div>
            <div class="pt-2 pb-2 ml-1 mr-1 col text-left">
                <!-- <mat-card-content> -->
                    Market Value:
                <!-- </mat-card-content> -->
            </div>
            <div class="pt-2 pb-2 ml-1 mr-1 col text-right">
                <!-- <mat-card-content> -->
                    <span [ngStyle]="applyStyles()">{{marketValue}}</span>
                <!-- </mat-card-content> -->
            </div>
        </div>
        <!-- <div class="row">
            <div class='col'>
                
            </div>  
        </div> -->
    </div>
    <!-- </mat-card> -->
    <div class="grey-wrapper text-right mb-5">
        <!-- <h1><b>{{stockItem.ticker}} <span class='item-span'>{{stockItem.companyName}}</span></b></h1> -->
        <button type="button" class="buy-btn btn btn-primary d-inline mb-2 mt-2 mr-3" (click)=" $event.stopPropagation(); modalOpen(buyContent)">Buy</button>
        <button type="button" class="sell-btn btn btn-danger d-inline mb-2 mr-3 mt-2 " (click)=" $event.stopPropagation(); modalOpen(sellContent)">Sell</button>
    </div>

    <ng-template #buyContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{stockItem.ticker}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div>
              <label for="quantity">Current Price: {{stockItem.lastPrice}} </label>
              <div class="input-group">
                <label class='inline'>Quantity <input type="number" id="quantity" name="quantity" (ngModelChange)="updateTotalPrice($event)" [(ngModel)]="tempQuantity"></label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <h4 class="total-price mr-auto">Total Price: {{tempTotalPrice}}</h4>
            <button type="button" class="btn btn-primary" [disabled]="tempQuantity === undefined || tempQuantity < 0 || tempQuantity == 0 || tempQuantity == null" (click)="$event.stopPropagation(); buyModalClose(); modal.close('Save click')">Buy</button>
        </div>
    </ng-template>

    <ng-template #sellContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{stockItem.ticker}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div>
              <label for="quantity">Current Price: {{stockItem.lastPrice}} </label>
              <div class="input-group">
                <label class='inline'>Quantity <input type="number" id="quantity" name="quantity" (ngModelChange)="updateTotalPrice($event)" [(ngModel)]="tempQuantity"></label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <h4 class="total-price mr-auto">Total Price: {{tempTotalPrice}}</h4>
            <button type="button" class="btn btn-danger" [disabled]="tempQuantity === undefined || tempQuantity < 0 || tempQuantity == 0 || tempQuantity > stockItem.quantity || tempQuantity == null" (click)="sellModalClose(); modal.close('Save click')">Sell</button>
        </div>
    </ng-template>
</div>