<div role='button'>
    <mat-card (click)='redirect();' class='stockWatchCard'>
        <!-- <img mat-card-image [src]="newsItem.urlToImage" alt='photo'> -->
        <div class="row">
            <div class="col text-left">
                <mat-card-content>Quantity:</mat-card-content>
            </div>
            <div class="col text-right">
                <mat-card-content>{{stockItem.quantity}}</mat-card-content>
            </div>
            <div class="col text-left">
                <mat-card-content>Change:</mat-card-content>
            </div>
            <div class="col text-right">
                <mat-card-content>
                    <span [ngStyle]="applyStyles()">
                        <svg width="1em" *ngIf='positiveChange' height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                        </svg>
                        <svg width="1em" *ngIf='negativeChange' height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                        </svg>
                        {{stockItem.change}}
                    </span>
                </mat-card-content>
            </div>
        </div>
        <div class="row">
            <div class="col text-left">
                <mat-card-content>Avg. Cost / Share:</mat-card-content>
            </div>
            <div class="col text-right">
                <mat-card-content>{{costPerShare}}</mat-card-content>
            </div>
            <div class="col text-left">
                <mat-card-content>Current Price:</mat-card-content>
            </div>
            <div class="col text-right">
                <mat-card-content><span [ngStyle]="applyStyles()">{{stockItem.lastPrice}}</span></mat-card-content>
            </div>
        </div>
        <div class="row">
            <div class="col text-left">
                <mat-card-content>Total Cost:</mat-card-content>
            </div>
            <div class="col text-right">
                <mat-card-content>{{stockItem.totalCost}}</mat-card-content>
            </div>
            <div class="col text-left">
                <mat-card-content>Market Value:</mat-card-content>
            </div>
            <div class="col text-right">
                <mat-card-content><span [ngStyle]="applyStyles()">{{marketValue}}</span></mat-card-content>
            </div>
        </div>
        <div class="row">
            <div class='col'>
                <button type="button" class="btn btn-danger float-right mr-2" (click)=" $event.stopPropagation(); modalOpen(sellContent)">Sell</button>
                <button type="button" class="btn btn-primary float-right mr-2" (click)=" $event.stopPropagation(); modalOpen(buyContent)">Buy</button>
            </div>  
        </div>
    </mat-card>
    <ng-template #buyContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{stockItem.ticker}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div>
              <label for="quantity">Current Price: {{stockItem.lastPrice}} </label>
              <div class="input-group">
                <label class='inline'>Quantity <input type="number" id="quantity" name="quantity" (change)="updateTotalPrice($event.target.value)"></label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <h4 class="total-price mr-auto">Total Price: {{tempTotalPrice}}</h4>
            <button type="button" class="btn btn-primary" [disabled]="tempQuantity === undefined || tempQuantity < 0 || tempQuantity == 0" (click)="$event.stopPropagation(); buyModalClose(); modal.close('Save click')">Buy</button>
        </div>
    </ng-template>

    <ng-template #sellContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{stockItem.ticker}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div>
              <label for="quantity">Current Price: {{stockItem.lastPrice}} </label>
              <div class="input-group">
                <label class='inline'>Quantity <input type="number" id="quantity" name="quantity" (change)="updateTotalPrice($event.target.value)"></label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
            <h4 class="total-price mr-auto">Total Price: {{tempTotalPrice}}</h4>
            <button type="button" class="btn btn-danger" [disabled]="tempQuantity === undefined || tempQuantity < 0 || tempQuantity == 0 || tempQuantity > stockItem.quantity" (click)="sellModalClose(); modal.close('Save click')">Sell</button>
        </div>
    </ng-template>
</div>