<div>
    <div role='button' (click)='modalOpen(content)' class='card newsCard'>
        <div class="row">
            <div class="col">
                <img class='card-img newsImage' [src]="newsItem.urlToImage" alt='photo'>
            </div>
           <div class="col">
                <div class='card-body newsText' [innerHtml]="innerhtml"></div>
           </div>
        </div>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header" style='display:block'>
            <h1 style='display: inline' class="modal-title" id="modal-basic-title">{{newsItem.source}}</h1>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="pl-2 modal-date" id="modal-basic-date"><span style='color: grey'>{{formattedDate}}</span></h4>
            
                
            
        </div>
        <div class="modal-body">
          <h2><b>{{newsItem.title}}</b></h2>
          <h4 [innerHtml]="innerDescription"></h4>
          <span style='color: grey'><h4>For more details click <a [attr.href]="newsItem.url">here</a></h4></span>
            <div class='card'>
                <h3 style='padding: 5px;'>Share</h3>
                <h3 style='padding: 5px;'>
                    <a class="twitter-share-button"
                    [href]="getTwitterURL()">
                    <i style='font-size: 3em' class="fab fa-twitter"></i></a>
                    <a class="facebook-share-button"
                    [href]="getFacebookURL()">
                    <i style='font-size: 3em' class="fab fa-facebook"></i></a>
                </h3>
            </div>
        </div>
    </ng-template>
</div>