<div>
    <mat-card role='button' (click)='modalOpen(content)' class='newsCard'>
        <img mat-card-image class='newsImage' [src]="newsItem.urlToImage" alt='photo'>
        <mat-card-content class='newsText' [innerHtml]="innerhtml"></mat-card-content>
    </mat-card>

    <ng-template #content let-modal>
        <div class="modal-header" style='display:block'>
            <h1 style='display: inline' class="modal-title" id="modal-basic-title">{{newsItem.source}}</h1>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="pl-2 modal-date" id="modal-basic-date"><span style='color: grey'>{{formattedDate}}</span></h4>
            
                
            
        </div>
        <div class="modal-body">
          <h2><b>{{newsItem.title}}</b></h2>
          <h4 [innerHtml]="innerDescription"></h4>
          <span style='color: grey'><h4>For more details click <a [attr.href]="newsItem.url">here</a></h4></span>
            <mat-card>
            <h3>Share</h3>
            <h3>
                <a class="twitter-share-button"
                [href]="getTwitterURL()">
                <i style='font-size: 3em' class="fab fa-twitter"></i></a>
                <a class="facebook-share-button"
                [href]="getFacebookURL()">
                <i style='font-size: 3em' class="fab fa-facebook"></i></a>
            </h3>
            </mat-card>
        </div>
    </ng-template>
</div>